{% extends 'base.html' %}
{% load static %}

{% block content %}
<body class="bg-dark">
    <section class="py-5">
      <div class="container">
        <div class="row align-items-center">
          <!-- Imagen 1 -->
          <div class="col-lg-6 mb-4 mb-lg-0">
            <img class="img-fluid rounded-3 shadow" src="https://assets.nicepagecdn.com/d2cc3eaa/2481404/images/hgghgh.jpg" alt="Image 1">
          </div>
  
          <!-- Imagen 2 -->
          <div class="col-lg-6 mb-4 mb-lg-0">
            <img class="img-fluid rounded-3 shadow" src="https://assets.nicepagecdn.com/d2cc3eaa/2481404/images/vvv.jpg" alt="Image 2">
          </div>
  
          <!-- Contenido de la sección -->
          <div class="col-lg-12 mt-5">
            <div class="p-4 bg-white rounded-3 shadow">
              <h2 class="text-dark">About Us</h2>
              <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id suscipit ex. Suspendisse rhoncus laoreet purus quis elementum. Phasellus sed efficitur dolor, et ultricies sapien.</p>
              <p class="text-muted">
                Images from 
                <a href="https://www.freepik.com/photos/background" class="text-decoration-none">Freepik</a>
              </p>
              <a href="#" class="btn btn-outline-dark rounded-pill">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="bg-secondary text-white py-3">
      <div class="container text-center">
        <p class="mb-1">
          Website Design created with 
          <a href="#" class="text-white text-decoration-none">Website Builder</a>
        </p>
      </div>
    </section>
  </body>
  
{% endblock %}
