{% load static %}

{% block 'footer' %}
<footer class="footer-bg text-center text-muted py-5 bg-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4 mb-md-0">
                <img src="{% static 'img/1.png' %}" alt="InmobiHogar Logo" class="mb-4" style="height: 250px; width: 250px;"/>            
            </div>
            <div class="col-md-4 mb-4 mb-md-0">
                <h2 class="h5 font-weight-semibold text-white">MENÚ</h2>
                <ul class="list-unstyled">
                    <li><a href="#" class="footer-link" style="text-decoration: none; color: white;">Inicio</a></li>
                    <li><a href="#" class="footer-link" style="text-decoration: none; color: white;">Nosotros</a></li>                    
                    <li><a href="#" class="footer-link" style="text-decoration: none; color: white;">Contactos</a></li>
                    <li><a href="#" class="footer-link" style="text-decoration: none; color: white;">Proyectos</a></li>                                     
                </ul>
            </div>
            <div class="col-md-4">
                <h2 class="h5 font-weight-semibold text-white">CONTACTO</h2>
                <p class="text-white">
                    <i class="fa-solid fa-location-dot"></i> Calle 123, Santiago</p>
                <p class="text-white">
                    <i class="fa-solid fa-phone"></i> +569 1234 5678</p>              
                <p class="text-white">
                    <i class="fa-solid fa-envelope"></i> contacto@sansebastian.cl
                </p>                  
            </div>
        </div>
        <div class="text-center mt-4">
            <p class="mb-1 text-white">© 2024 - SAN SEBASTIAN - TODOS LOS DERECHOS RESERVADOS.</p>          
        </div>
    </div>
</footer>
{% endblock %}